.index-prize__main {
  margin: 0 auto;
  box-sizing: border-box;

  .swiper-container {

    .swiper-slide {
      height: 428px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 140px 0 200px;

      @media (max-width: $md_max) {
        padding: 0 80px 0 160px;
      }



      .text {
        position: relative;
        text-decoration: none;
        transition: transform 500ms ease;
        color: #FFFFFF;
        font-family: "PF Din Text Cond Pro", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 43.2px;

        &:hover, &:focus {
          transform: scale(1.05, 1.15);
        }

        &::after {
          position: absolute;
          display: block;
          bottom: -25px;
          right: 0;
        }

        &-0::after {
          content: url(../../../images/index-prize-main-slide-0.svg);
        }

        &-1::after {
          content: url(../../../images/index-prize-main-slide-1.svg);
        }
      }

      .image {
        text-decoration: none;


        img {
          width: auto;
        }

        &-0 img {
          height: 428px;
        }

        &-1 {
          height: 302px;
        }
      }
    }

    .swiper-button-prev, .swiper-button-next {
      color: #FFFFFF !important;
      transition: transform 500ms ease;

      &:hover, &:focus {
        transform: scale(1.15, 1.15);
      }
    }
  }
}