.index-prize__main {
  margin: 0 auto;
  box-sizing: border-box;

  @media (max-width: $sm_max) {
    margin-bottom: 15px;
  }

  .swiper-container {

    .swiper-slide {
      height: 428px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 140px 0 200px;

      @media (max-width: $md_max) {
        padding: 0 80px 0 160px;
      }

      @media (max-width: $sm_max) {
        flex-direction: column-reverse;
        height: 160px;
        padding: 0 28px;
      }

      .text {
        position: relative;
        text-decoration: none;
        transition: transform 500ms ease;
        color: #FFFFFF;
        font-family: "PF Din Text Cond Pro", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 43.2px;

        @media (max-width: $sm_max) {
          font-size: 16px;
          line-height: 24px;
        }

        &:hover, &:focus {
          transform: scale(1.05, 1.15);
        }

        &::after {
          position: absolute;
          display: block;
          bottom: -25px;
          right: 0;

          @media (max-width: $sm_max) {
            display: none;
          }
        }

        &-0::after {
          content: url(../../../images/index-prize-main-slide-0.svg);
        }

        &-1::after {
          content: url(../../../images/index-prize-main-slide-1.svg);
        }
      }

      .image {
        text-decoration: none;

        img {
          width: auto;
        }

        &-0 img {
          height: 428px;

          @media (max-width: $sm_max) {
            height: 122px;
          }
        }

        &-1 img {
          height: 302px;

          @media (max-width: $sm_max) {
            height: 98px;
          }
        }
      }
    }

    .swiper-button-prev, .swiper-button-next {
      color: #FFFFFF !important;
      transition: transform 500ms ease;

      @media (max-width: $sm_max) {
          transform: scale(0.8, 0.5);
      }

      @media (min-width: #{$sm_max + 1px}) {
        &:hover, &:focus {
          transform: scale(1.15, 1.15);
        }
      }
    }

    .swiper-button-prev {
      @media (max-width: $sm_max) {
        left: -5px !important;
      }
    }

    .swiper-button-next {
      @media (max-width: $sm_max) {
        right: -5px !important;
      }
    }
  }
}