.index-prize__back {
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    img {
        height: auto;
        width: 1160px;

        @media (max-width: $md_max) {
            width: 940px;
        }

        @media (max-width: $sm_max) {
            width: 460px;
        }
    }
}