.index-stages__main {
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    .text {
        position: absolute;
        color: #ffffff;
        font-family: "PF Din Text Cond Pro", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        width: 106px;

        &_one {
            transform: translate(-50%, -50%);
            top: 122px;
            left: 270px;

            @media (max-width: $md_max) {
                left: 211px;
            }

            @media (max-width: $sm_max) {
                top: 160px;
                left: 214px;
            }
        }

        &_two {
            transform: translate(-50%, -50%);
            top: 142px;
            left: 612px;

            @media (max-width: $md_max) {
                left: 553px;
            }

            @media (max-width: $sm_max) {
                top: 436px;
                left: 202px;
            }
        }

        &_three {
            transform: translate(50%, -50%);
            top: 160px;
            right: 238px;

            @media (max-width: $md_max) {
                right: 76px;
            }

            @media (max-width: $sm_max) {
                top: 770px;
                right: 68px;
            }
        }

        a {
            display: inline-block;
            text-decoration: underline;
            color: #ffffff;
            transition: transform 500ms ease;

            &:hover, &:focus {
                transform: scale(1.05, 1.15);
            }
        }
    }
}