.index-top__back {
  right: 50%;
  top: -190px;
  transform: translateX(710px);

  @media (max-width: $md_max) {
    top: -190px;
    transform: translateX(820px);
  }

  @media (max-width: $sm_max) {
    top: -200px;
    transform: translateX(320px);
  }

  img {
    width: auto;
    height: 776px;

    @media (max-width: $sm_max) {
      height: 973px;
    }
  }
}