.index-top__back {
    right: 50%;
    top: -40px;
    transform: translateX(1128px);
    transition: opacity 1s ease;

    @media (max-width: $md_max) {
        top: -12px;
        transform: translateX(839px);
    }

    @media (max-width: $sm_max) {
        top: 280px;
        transform: translateX(320px);
    }

    &[data-hidden="on"] {
        opacity: 0;
    }

    &[data-hidden="off"] {
        opacity: 1;
    }

    img {
        width: auto;
        height: 880px;

        @media (max-width: $md_max) {
            height: 580px;
        }

        @media (max-width: $sm_max) {
            height: 290px;
        }
    }
}