.account-marathon__main {
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    .title {
        display: block;
        position: absolute;
        transform: translateY(-50%);
        color: #ffffff;
        font-family: "PF Din Text Cond Pro", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 58px;
        top: 281px;
        left: 100px;
        width: 460px;

        @media (max-width: $md_max) {
            font-size: 36px;
            line-height: 43px;
            top: 210px;
            left: 80px;
            width: 380px;
        }

        @media (max-width: $sm_max) {
            font-size: 24px;
            line-height: 29px;
            top: 170px;
            left: 0;
            width: 280px;
        }
    }

    .button {
        display: flex;
        position: absolute;
        transform: translateY(-50%);
        justify-content: center;
        align-items: center;
        border-radius: 99999px;
        background-color: #ffffff;
        text-decoration: none;
        top: 440px;
        left: 100px;
        width: 209px;
        height: 80px;

        @media (max-width: $md_max) {
            top: 368px;
            left: 80px;
        }

        @media (max-width: $sm_max) {
            top: 270px;
            left: 0;
            width: 143px;
            height: 60px;
        }

        &:hover span, &:focus span {
            transform: scale(1.05, 1.15);
        }

        span {
            padding-top: 3px;
            transition: transform 500ms ease;
            color: #000000;
            text-transform: uppercase;
            font-family: "Bebas Neue", sans-serif;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 0.01em;
            font-size: 20px;

            @media (max-width: $sm_max) {
                font-size: 14px;
            }
        }
    }
}