.account-my__main {
    margin: 0 auto;
    padding-bottom: 60px;

    @media (max-width: $md_max) {
        padding-bottom: 40px;
    }

    @media (max-width: $sm_max) {
        padding-bottom: 20px;
    }

    .titles {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 60px;

        .title {
            color: #ffffff;
            font-family: "PF Din Text Cond Pro", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 58px;

            @media (max-width: $md_max) {
                font-size: 36px;
                line-height: 43px;
            }

            @media (max-width: $sm_max) {
                font-size: 24px;
                line-height: 29px;
                margin-bottom: 30px;
                flex-basis: 100%;
            }
        }

        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            background: linear-gradient(180deg, #FF9C47 0%, #E600C6 100%);
            border-radius: 99999px;
            height: 80px;
            width: 252px;

            @media (max-width: $sm_max) {
                height: 60px;
                width: 172px;
            }

            &:hover span, &:focus span {
                transform: scale(1.05, 1.15);
            }

            span {
                padding-top: 3px;
                transition: transform 500ms ease;
                text-transform: uppercase;
                color: #ffffff;
                font-family: "Bebas Neue", sans-serif;
                font-style: normal;
                font-weight: 700;
                letter-spacing: 0.01em;
                font-size: 20px;

                @media (max-width: $sm_max) {
                    font-size: 14px;
                }
            }
        }
    }

    .prizes {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: stretch;
        padding: 0;
        margin: -20px;

        @media (max-width: $md_max) {
            margin: -10px;
        }

        * {
            box-sizing: border-box;
        }

        .prize {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: center;
            border: 1px solid #ffffff;
            border-radius: 40px;
            margin: 20px;
            width: 560px;
            min-height: 280px;

            @media (max-width: $md_max) {
                margin: 10px;
                width: 460px;
                min-height: 290px;
            }

            @media (max-width: $sm_max) {
                border-radius: 20px;
            }

            &__image {
                height: 160px;
                width: 160px;
                margin: 59px 80px 59px 59px;

                @media (max-width: $md_max) {
                    height: 135px;
                    width: 135px;
                    margin: 79px 45px 79px 59px;
                }

                @media (max-width: $sm_max) {
                    height: 160px;
                    width: 160px;
                    margin: 39px auto 30px;
                }

                img {
                    height: 100%;
                    width: auto;
                }
            }

            &__texts {
                color: #ffffff;
                font-family: "PF Din Text Cond Pro", sans-serif;
                font-style: normal;
                font-weight: 400;
                width: 220px;

                @media (max-width: $md_max) {
                    width: 180px;
                }

                @media (max-width: $sm_max) {
                    width: 200px;
                    margin: 0 auto 39px;
                }
            }

            &__title {
                font-size: 24px;
                line-height: 29px;
                margin-bottom: 20px;
            }

            &__text {
                font-size: 16px;
                line-height: 19px;
            }
        }
    }
}