.account-prizes__back {
    right: 50%;
    top: 0;
    transform: translateX(639px);

    @media (max-width: $md_max) {
        transform: translateX(576px);
    }

    @media (max-width: $sm_max) {
        transform: translateX(386px);
    }
}