.account-prizes__back {
  right: 50%;
  top: 0;
  transform: translateX(770px);

  @media (max-width: $md_max) {
    transform: translateX(700px);
  }

  @media (max-width: $sm_max) {
    transform: translateX(393px);
  }
}