div(class="back index-bottom__back")
    img(alt="", src="images/index-bottom-back-lg.png", class="image_lg")
    img(alt="", src="images/index-bottom-back-md.png", class="image_md")
    img(alt="", src="images/index-bottom-back-sm.png", class="image_sm")