div(class="back index-footer__back")
    img(alt="", src="images/index-footer-back-lg.png", class="image_lg")
    img(alt="", src="images/index-footer-back-md.png", class="image_md")
    img(alt="", src="images/index-footer-back-sm.png", class="image_sm")