div(class="back index-prizes__back")
    img(alt="", src="images/index-prizes-back-lg.png", class="image_lg")
    img(alt="", src="images/index-prizes-back-md.png", class="image_md")
    img(alt="", src="images/index-prizes-back-sm.png", class="image_sm")