div(class="main main_abs index-prizes__main")
    div(class="content")
        div(class="card card_primary")
            div(class="text title_primary")
                | Главные призы
                svg(width="160", height="6", viewBox="0 0 160 6", xmlns="http://www.w3.org/2000/svg")
                    path(d="M0 4.95534C6.63764 4.20012 13.2876 3.58872 19.9457 3.05186L29.9364 2.29256L39.9358 1.6404C53.276 0.878187 66.6349 0.411779 80.0026 0.191094C86.6865 0.0431935 93.3727 0.03912 100.062 0.000689237C101.735 -0.00629817 103.406 0.0414504 105.078 0.0711468L110.093 0.177118L115.108 0.340156C116.778 0.405954 118.448 0.525908 120.118 0.616745L130.13 1.29627C133.462 1.60896 136.793 1.91582 140.119 2.27742L145.107 2.81196L150.081 3.4938C153.393 3.9771 156.703 4.45458 160 5.01823L159.964 5.36585C146.581 5.07704 133.29 4.37306 119.965 4.10812C106.652 3.79951 93.344 3.06292 80.0108 2.98722C66.6817 2.85854 53.3438 2.97499 40.0112 3.38725C26.6769 3.73895 13.3449 4.37073 0.0333472 5.30413L0 4.95534Z", fill="currentColor")

            div(class="images images_primary")
                img(alt="", src="images/index-prizes-main-bike-lg.png", class="image_lg")
                img(alt="", src="images/index-prizes-main-bike-md.png", class="image_md")
                img(alt="", src="images/index-prizes-main-bike-sm.png", class="image_sm")

                img(alt="", src="images/index-prizes-main-playstation-lg.png", class="image_lg")
                img(alt="", src="images/index-prizes-main-playstation-md.png", class="image_md")
                img(alt="", src="images/index-prizes-main-playstation-sm.png", class="image_sm")

                img(alt="", src="images/index-prizes-main-applewatch-lg.png", class="image_lg")
                img(alt="", src="images/index-prizes-main-applewatch-md.png", class="image_md")
                img(alt="", src="images/index-prizes-main-applewatch-sm.png", class="image_sm")

        div(class="card card_week")
            div(class="text title_secondary")
                | Еженедельные призы
            div(class="text subtitle_secondary")
                | 3 победителя каждую неделю

            div(class="images images_week")
                img(alt="", src="images/index-prizes-main-okko-lg.png", class="image_lg")
                img(alt="", src="images/index-prizes-main-okko-md.png", class="image_md")
                img(alt="", src="images/index-prizes-main-okko-sm.png", class="image_sm")

                img(alt="", src="images/index-prizes-main-yandex-lg.png", class="image_lg")
                img(alt="", src="images/index-prizes-main-yandex-md.png", class="image_md")
                img(alt="", src="images/index-prizes-main-yandex-sm.png", class="image_sm")

                img(alt="", src="images/index-prizes-main-litres-lg.png", class="image_lg")
                img(alt="", src="images/index-prizes-main-litres-md.png", class="image_md")
                img(alt="", src="images/index-prizes-main-litres-sm.png", class="image_sm")

        div(class="card card_day")
            div(class="text title_secondary")
                | Ежедневные призы
            div(class="text subtitle_secondary")
                | Бокс с канцелярией Berlingo

            div(class="images images_day")
                img(alt="", src="images/index-prizes-main-box-lg.png", class="image_lg")
                img(alt="", src="images/index-prizes-main-box-md.png", class="image_md")
                img(alt="", src="images/index-prizes-main-box-sm.png", class="image_sm")