div(class="main main_abs index-prize__main")

    div(class="title")
        | Гарантированный приз

    div(class="text")
        | Каждый участник, зарегистрировавший чек, автоматически в личном кабинете получит подарок – марафон с Павлом Волей

    //a(href="#", class="button", data-modal-open="receipt")
    a(href="#", class="button", data-modal-open="register")
        span
            | Зарегистрируй чек