div(class="main main_abs index-stages__main")

    div(class="text text_one")
        | Покупай
        br
        | продукцию
        br
        | Berlingo

    div(class="text text_two")
        //a(href="#", data-modal-open="receipt")
        a(href="#", data-modal-open="register")
            | Регистрируй
        |  чек на сайте

    div(class="text text_three")
        | Выигрывай
        br
        | крутые призы
