div(class="back index-stages__back")
    img(alt="", src="images/index-stages-back-lg.png", class="image_lg")
    img(alt="", src="images/index-stages-back-md.png", class="image_md")
    img(alt="", src="images/index-stages-back-sm.png", class="image_sm")