div(class="main main_abs index-stages__main")

    div(class="text text_one")
        | Покупай
        br
        | продукцию
        br
        | Berlingo

    div(class="text text_two")
        //a(href="#", data-modal-open="receipt")
        a(href="#", data-modal-open="register")
            | Регистрируй
        |  чек
        br
        | на сайте

    div(class="text text_three")
        | Получи
        br
        | гарантированный
        br
        | марафон
        br
        | от Павла Воли

    div(class="text text_four")
        | Выигрывай
        br
        | крутые призы