div(class="back index-top__back", data-slider="0", data-hidden="off")
    img(alt="", src="images/index-top-back-1-lg.png", class="image_lg")
    img(alt="", src="images/index-top-back-1-md.png", class="image_md")
    img(alt="", src="images/index-top-back-1-sm.png", class="image_sm")

div(class="back index-top__back", data-slider="1", data-hidden="on")
    img(alt="", src="images/index-top-back-2-lg.png", class="image_lg")
    img(alt="", src="images/index-top-back-2-md.png", class="image_md")
    img(alt="", src="images/index-top-back-2-sm.png", class="image_sm")

div(class="back index-top__back", data-slider="2", data-hidden="on")
    img(alt="", src="images/index-top-back-3-lg.png", class="image_lg")
    img(alt="", src="images/index-top-back-3-md.png", class="image_md")
    img(alt="", src="images/index-top-back-3-sm.png", class="image_sm")