div(class="main main_abs index-top__main")

    div(class="text")
        | Участвуй в акции
        br(class="br-sm")
        | и получи
        br(class="br-md")
        | призы от Berlingo

    //a(href="#", class="button button_check", data-modal-open="register")
    a(href="#", class="button button_check", data-modal-open="receipt")
        span
            | Зарегистрируй чек
            br
            | и получи призы
