div(class="main main_abs index-top__main")

    div(class="text")
        | Участвуй в акции и получи призы
        br
        | от Berlingo и Павла Воли

    //a(href="#", class="button button_check", data-modal-open="register")
    a(href="#", class="button button_check", data-modal-open="receipt")
        span
            | Зарегистрируй чек и получи призы

    a(href="#", class="button button_pen", data-modal-open="test_1")
        span
            | Найди свою идеальную ручку