div(class="back account-balls__back")
    img(alt="", src="images/account-balls-back-lg.png", class="image_lg")
    img(alt="", src="images/account-balls-back-md.png", class="image_md")
    img(alt="", src="images/account-balls-back-sm.png", class="image_sm")