div(class="main main_rel account-balls__main")
    div(class="title")
        | Мои баллы
    div(class="balls-number")
        | 260
    div(class="balls-text")
        | баллов
    div(class="text")
        | Повышай баллы и выигрывай призы.
        br
        | Больше баллов — больше призов!