div(class="back account-header__back")
    img(alt="", src="images/account-header-back-lg.png", class="image_lg")
    img(alt="", src="images/account-header-back-md.png", class="image_md")
    img(alt="", src="images/account-header-back-sm.png", class="image_sm")