div(class="back account-marathon__back")
    img(alt="", src="images/account-marathon-back-lg.png", class="image_lg")
    img(alt="", src="images/account-marathon-back-md.png", class="image_md")
    img(alt="", src="images/account-marathon-back-sm.png", class="image_sm")