div(class="main main_abs account-marathon__main")

    div(class="title")
        | Участвуй в марафоне с Павлом Волей

    a(href="#", class="button", data-modal-open="receipt")
        span
            | Участвовать