div(class="main main_rel account-my__main")
    div(class="titles")
        div(class="title")
            | Мои призы
        a(href="winners.html", class="button")
            span
                | Победители акции
    ul(class="prizes")
        li(class="prize")
            div(class="prize__image")
                img(alt="", src="images/account-my-macbook.png", class="img-macbook")
            div(class="prize__texts")
                div(class="prize__title")
                    | Ноутбук Apple MacBook Air
                div(class="prize__text")
                    | В течение 5 (пяти) рабочих дней на указанную вами почту придет письмо с
                    | информацией о получении приза.
        li(class="prize")
            div(class="prize__image")
                img(alt="", src="images/account-my-ipad.png", class="img-ipad")
            div(class="prize__texts")
                div(class="prize__title")
                    | Планшет Apple IPad Air
                div(class="prize__text")
                    | В течение 5 (пяти) рабочих дней на указанную вами почту придет письмо с
                    | информацией о получении приза.
        li(class="prize")
            div(class="prize__image")
                img(alt="", src="images/account-my-ozon.png", class="img-ozon")
            div(class="prize__texts")
                div(class="prize__title")
                    | Сертификат на OZON на 25 000₽
                div(class="prize__text")
                    | В течение 5 (пяти) рабочих дней на указанную вами почту придет письмо с
                    | информацией о получении приза.
        li(class="prize")
            div(class="prize__image")
                img(alt="", src="images/account-my-yandex.png", class="img-yandex")
            div(class="prize__texts")
                div(class="prize__title")
                    | Умная колонка Yandex
                div(class="prize__text")
                    | В течение 5 (пяти) рабочих дней на указанную вами почту придет письмо с
                    | информацией о получении приза.
        li(class="prize")
            div(class="prize__image")
                img(alt="", src="images/account-my-berlingo.png", class="img-berlingo")
            div(class="prize__texts")
                div(class="prize__title")
                    | Годовой запас школьных принадлежностей от Berlingo
                div(class="prize__text")
                    | В течение 5 (пяти) рабочих дней на указанную вами почту придет письмо с
                    | информацией о получении приза.
