div(class="main main_rel account-my__main")
    div(class="titles")
        div(class="title")
            | Мои призы
        a(href="winners.html", class="button")
            span
                | Победители акции
    ul(class="prizes")
        li(class="prize")
            div(class="prize__image")
                img(alt="", src="images/account-my-applewatch.png")
            div(class="prize__texts")
                div(class="prize__title")
                    | Apple Watch
                div(class="prize__text")
                    | В течение 5 (пяти) рабочих дней на указанную вами почту придет письмо с
                    | информацией о получении приза.
        li(class="prize")
            div(class="prize__image")
                img(alt="", src="images/account-my-bike.png")
            div(class="prize__texts")
                div(class="prize__title")
                    | Велосипед
                div(class="prize__text")
                    | В течение 5 (пяти) рабочих дней на указанную вами почту придет письмо с
                    | информацией о получении приза.
        li(class="prize")
            div(class="prize__image")
                img(alt="", src="images/account-my-box.png")
            div(class="prize__texts")
                div(class="prize__title")
                    | Бокс с канцелярией Berlingo
                div(class="prize__text")
                    | В течение 5 (пяти) рабочих дней на указанную вами почту придет письмо с
                    | информацией о получении приза.
        li(class="prize")
            div(class="prize__image")
                img(alt="", src="images/account-my-litres.png")
            div(class="prize__texts")
                div(class="prize__title")
                    | Подписка на ЛитРес
                div(class="prize__text")
                    | В течение 5 (пяти) рабочих дней на указанную вами почту придет письмо с
                    | информацией о получении приза.
        li(class="prize")
            div(class="prize__image")
                img(alt="", src="images/account-my-okko.png")
            div(class="prize__texts")
                div(class="prize__title")
                    | Подписка на Okko
                div(class="prize__text")
                    | В течение 5 (пяти) рабочих дней на указанную вами почту придет письмо с
                    | информацией о получении приза.
        li(class="prize")
            div(class="prize__image")
                img(alt="", src="images/account-my-playstation.png")
            div(class="prize__texts")
                div(class="prize__title")
                    | PlayStation 5
                div(class="prize__text")
                    | В течение 5 (пяти) рабочих дней на указанную вами почту придет письмо с
                    | информацией о получении приза.
        li(class="prize")
            div(class="prize__image")
                img(alt="", src="images/account-my-yandex.png")
            div(class="prize__texts")
                div(class="prize__title")
                    | Подписка на Яндекс.Музыку
                div(class="prize__text")
                    | В течение 5 (пяти) рабочих дней на указанную вами почту придет письмо с
                    | информацией о получении приза.