div(class="main main_rel account-receipts__main")
    div(class="title")
        | Мои чеки

    ul(class="receipts")
        li(class="receipt")
            span(class="receipt__status", data-status="accepted")
                | Принят
            img(alt="", src="images/0_content-account-receipt.png", class="receipt__image")
            div(class="receipt__city")
                | Москва
            div(class="receipt__date")
                | 30.04.2021

        li(class="receipt")
            span(class="receipt__status", data-status="accepted")
                | Принят
            img(alt="", src="images/0_content-account-receipt.png", class="receipt__image")
            div(class="receipt__city")
                | Санкт-Петербург
            div(class="receipt__date")
                | 31.04.2021

        li(class="receipt")
            span(class="receipt__status", data-status="error")
                | Не соответствует правилам акции
            img(alt="", src="images/0_content-account-receipt.png", class="receipt__image")
            div(class="receipt__city")
                | Санкт-Петербург
            div(class="receipt__date")
                | 31.04.2021

        li(class="receipt")
            span(class="receipt__status", data-status="processing")
                | На модерации
            img(alt="", src="images/0_content-account-receipt.png", class="receipt__image")
            div(class="receipt__city")
                | Москва
            div(class="receipt__date")
                | 01.05.2021

        li(class="receipt")
            span(class="receipt__status", data-status="processing")
                | На модерации
            img(alt="", src="images/0_content-account-receipt.png", class="receipt__image")
            div(class="receipt__city")
                | Москва
            div(class="receipt__date")
                | 01.05.2021

        li(class="receipt")
            span(class="receipt__status", data-status="processing")
                | На модерации
            img(alt="", src="images/0_content-account-receipt.png", class="receipt__image")
            div(class="receipt__city")
                | Москва
            div(class="receipt__date")
                | 01.05.2021