div(class="main main_rel account-top__main")
    div(class="title")
        | Привет, lubimov95!

    div(class="buttons")
        a(href="#", class="button button_receipt", data-modal-open="receipt")
            span
                | Зарегистрируй чек и получи призы
        // Выход
        a(href="#", class="button button_exit")
            span
                | Выйти