section(class="section main winners-tab")
    div(class="title")
        | Еженедельные призы

    div(class="tabs")
        div(class="tabs__head")
            a(href="#", class="button button_okko", data-tab-open="3", data-selected="on")
                span
                    | Подписка Okko
            a(href="#", class="button button_yandex", data-tab-open="4", data-selected="off")
                span
                    | Подписка Яндекс.Музыка
            a(href="#", class="button button_litres", data-tab-open="5", data-selected="off")
                span
                    | Подписка Литрес

        div(class="tabs__body", data-tab-body="3", data-hidden="off")
            div(class="tabs__image")
                img(alt="", src="images/account-my-okko.png")
            div(class="list-wrapper")
                ul(class="tabs__list")
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56

        div(class="tabs__body", data-tab-body="4", data-hidden="on")
            div(class="tabs__image")
                img(alt="", src="images/account-my-yandex.png")
            div(class="list-wrapper")
                ul(class="tabs__list")
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56

        div(class="tabs__body", data-tab-body="5", data-hidden="on")
            div(class="tabs__image")
                img(alt="", src="images/account-my-litres.png")
            div(class="list-wrapper")
                ul(class="tabs__list")
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56