section(class="section main winners-tab")
    div(class="title")
        | Главные призы

    div(class="tabs")
        div(class="tabs__head")
            a(href="#", class="button button_bike", data-tab-open="0", data-selected="on")
                span
                    | Велосипед
            a(href="#", class="button button_playstation", data-tab-open="1", data-selected="off")
                span
                    | PlayStation 5
            a(href="#", class="button button_applewatch", data-tab-open="2", data-selected="off")
                span
                    | Apple Watch

        div(class="tabs__body", data-tab-body="0", data-hidden="off")
            div(class="tabs__image")
                img(alt="", src="images/account-my-bike.png")
            div(class="tabs__warning")
                | Победители ещё не определны. Розыгрыш состоится 16.05.2021

        div(class="tabs__body", data-tab-body="1", data-hidden="on")
            div(class="tabs__image")
                img(alt="", src="images/account-my-playstation.png")
            div(class="tabs__warning")
                | Победители ещё не определны. Розыгрыш состоится 16.05.2021

        div(class="tabs__body", data-tab-body="2", data-hidden="on")
            div(class="tabs__image")
                img(alt="", src="images/account-my-applewatch.png")
            div(class="tabs__warning")
                | Победители ещё не определны. Розыгрыш состоится 16.05.2021