section(class="section main winners-tab")
    div(class="title")
        | Главные призы

    div(class="tabs")
        div(class="tabs__head")
            a(href="#", class="button button_bike", data-tab-open="0", data-selected="on")
                span
                    | Ноутбук Apple MacBook Air
            a(href="#", class="button button_playstation", data-tab-open="1", data-selected="off")
                span
                    | Планшет Apple IPad Air
            a(href="#", class="button button_applewatch", data-tab-open="2", data-selected="off")
                span
                    | Сертификат на OZON на 25 000₽

        div(class="tabs__body", data-tab-body="0", data-hidden="off")
            div(class="tabs__image")
                img(alt="", src="images/account-my-macbook.png", class="img-0")
            div(class="tabs__warning")
                | Победители ещё не определны. Розыгрыш состоится 16.05.2021

        div(class="tabs__body", data-tab-body="1", data-hidden="on")
            div(class="tabs__image")
                img(alt="", src="images/account-my-ipad.png", class="img-1")
            div(class="tabs__warning")
                | Победители ещё не определны. Розыгрыш состоится 16.05.2021

        div(class="tabs__body", data-tab-body="2", data-hidden="on")
            div(class="tabs__image")
                img(alt="", src="images/account-my-ozon.png", class="img-2")
            div(class="tabs__warning")
                | Победители ещё не определны. Розыгрыш состоится 16.05.2021