section(class="section main winners-tab")
    div(class="title")
        | Еженедельные призы

    div(class="tabs")
        div(class="tabs__head")
            a(href="#", class="button button_okko", data-tab-open="3", data-selected="on")
                span
                    | Умная колонка Yandex
            a(href="#", class="button button_yandex", data-tab-open="4", data-selected="off")
                span
                    | Годовой запас школьных принадлежностей

        div(class="tabs__body", data-tab-body="3", data-hidden="off")
            div(class="tabs__image")
                img(alt="", src="images/account-my-yandex.png", class="img-3")
            div(class="list-wrapper")
                ul(class="tabs__list")
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56

        div(class="tabs__body", data-tab-body="4", data-hidden="on")
            div(class="tabs__image")
                img(alt="", src="images/account-my-berlingo.png", class="img-4")
            div(class="list-wrapper")
                ul(class="tabs__list")
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
