section(class="section main winners-tab")
    div(class="title")
        | Ежедневные призы
    div(class="subtitle")
        | Бокс с канцелярией Berlingo

    div(class="tabs")
        div(class="tabs__body")
            div(class="tabs__image")
                img(alt="", src="images/account-my-box.png")
            div(class="list-wrapper")
                ul(class="tabs__list")
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56
                    li(class="winner")
                        span(class="winner__date")
                            | 29.04.2021
                        span(class="winner__nick")
                            | aleksei7676
                        span(class="winner__phone")
                            | +7 (***) *** 64 56