section(class="modal modal_test", data-modal-name="test_4", data-modal-important="on")

    div(class="modal__body-0")
        div(class="modal__body-1")

            div(class="modal__body-2")
                include modal--close

                div(class="title")
                    | Шаг 3/4

                div(class="subtitle")
                    | Выбери знак, который тебе больше нравится

                form()
                    input(type="radio", name="step_3", value="10", id="i-3_1")
                    label(for="i-3_1")
                        img(alt="", src="images/modal-test-4-1.png", data-selected="off")
                        img(alt="", src="images/modal-test-4-1-selected.png", data-selected="on")

                    input(type="radio", name="step_3", value="20", id="i-3_2")
                    label(for="i-3_2")
                        img(alt="", src="images/modal-test-4-2.png", data-selected="off")
                        img(alt="", src="images/modal-test-4-2-selected.png", data-selected="on")

                    input(type="radio", name="step_3", value="30", id="i-3_3")
                    label(for="i-3_3")
                        img(alt="", src="images/modal-test-4-3.png", data-selected="off")
                        img(alt="", src="images/modal-test-4-3-selected.png", data-selected="on")

                    input(type="radio", name="step_3", value="40", id="i-3_4")
                    label(for="i-3_4")
                        img(alt="", src="images/modal-test-4-4.png", data-selected="off")
                        img(alt="", src="images/modal-test-4-4-selected.png", data-selected="on")

                a(href="#", class="button", data-modal-open="test_5", data-disabled="on")
                    span
                        | Дальше