section(class="modal modal_auth", data-modal-name="success", data-modal-important="off")

    div(class="modal__body-0")
        div(class="modal__body-1")

            div(class="modal__body-2")
                include modal--close

                div(class="titles")
                    a(href="#", data-modal-open="login")
                        | Авторизация
                    span(class="center")
                        | или
                    span(class="title")
                        | регистрация

                div(class="subtitle")
                    | Успех! Твой личный кабинет создан. Чтобы войти в него, перейди по ссылке в письме, отправленном
                    | тебе на e-mail.

                a(href="#", class="button", data-modal-close)
                    span
                        | Хорошо