section(class="modal modal_test", data-modal-name="test_6", data-modal-important="on")

    div(class="modal__body-0")
        div(class="modal__body-1")

            div(class="back")
                img(alt="", src="images/modal-test-6-lg.png", class="image_lg")
                img(alt="", src="images/modal-test-6-md.png", class="image_md")
                img(alt="", src="images/modal-test-6-sm.png", class="image_sm")

            div(class="modal__body-2")
                include modal--close

                // result="1"

                div(class="title", data-result="1", data-hidden="on")
                    | Добряк

                div(class="subtitle", data-result="1", data-hidden="on")
                    | Нежные оттенки для легких и солнечных людей, которые ценят свой комфорт и спойную, теплую
                    | атмосферу вокруг них.

                div(class="pens", data-result="1", data-hidden="on")
                    a(href="#", class="pens__button", data-pens-toggler)
                        svg(width="16", height="32", viewBox="0 0 16 32", xmlns="http://www.w3.org/2000/svg")
                            path(d="M0.375854 31.6749L0.377468 31.6765C0.851276 32.1284 1.59387 32.1037 2.03862 31.6221L15.679 16.8468C16.1148 16.3743 16.1059 15.6337 15.658 15.1727L15.5894 15.1026L2.03862 0.379276C1.59387 -0.103996 0.850467 -0.128738 0.375853 0.32402L0.374238 0.324844C-0.102798 0.780077 -0.127013 1.54457 0.320158 2.03032L13.188 15.999L0.320967 29.9694C-0.126205 30.4551 -0.10199 31.2204 0.375854 31.6749Z", fill="currentColor")

                    div(class="pen", data-slider="0", data-hidden="off")
                        a(href="#", class="pen__link")
                            img(alt="", src="images/0_content-modal-pens.png", class="pen__image")
                        div(class="pen__texts")
                            div(class="pen__title")
                                | Color Zone
                            div(class="pen__text")
                                | Эффектная шариковая ручка Berlingo Color Zone с клипом является частью одноименной
                                | яркой серии. Прорезиненное покрытие корпуса и утолщение в зоне захвата ручки
                                | обеспечивают высокий уровень комфорта при ее использовании.

                    div(class="pen", data-slider="1", data-hidden="on")
                        a(href="#", class="pen__link")
                            img(alt="", src="images/0_content-modal-pens.png", class="pen__image")
                        div(class="pen__texts")
                            div(class="pen__title")
                                | Color Zone 2
                            div(class="pen__text")
                                | Эффектная шариковая ручка Berlingo Color Zone с клипом является частью одноименной
                                | яркой серии. Прорезиненное покрытие корпуса и утолщение в зоне захвата ручки
                                | обеспечивают высокий уровень комфорта при ее использовании.

                // result="2"

                div(class="title", data-result="2", data-hidden="on")
                    | Бунтарь

                div(class="subtitle", data-result="2", data-hidden="on")
                    | Буйство красок для дерзких и активных личностей, которые всегда хотят выделяться из общей массы и
                    | быть заметными. Не боятся отстаивать свои позиции.

                div(class="pens", data-result="2", data-hidden="on")
                    a(href="#", class="pens__button", data-pens-toggler)
                        svg(width="16", height="32", viewBox="0 0 16 32", xmlns="http://www.w3.org/2000/svg")
                            path(d="M0.375854 31.6749L0.377468 31.6765C0.851276 32.1284 1.59387 32.1037 2.03862 31.6221L15.679 16.8468C16.1148 16.3743 16.1059 15.6337 15.658 15.1727L15.5894 15.1026L2.03862 0.379276C1.59387 -0.103996 0.850467 -0.128738 0.375853 0.32402L0.374238 0.324844C-0.102798 0.780077 -0.127013 1.54457 0.320158 2.03032L13.188 15.999L0.320967 29.9694C-0.126205 30.4551 -0.10199 31.2204 0.375854 31.6749Z", fill="currentColor")

                    div(class="pen", data-slider="0", data-hidden="off")
                        a(href="#", class="pen__link")
                            img(alt="", src="images/0_content-modal-pens.png", class="pen__image")
                        div(class="pen__texts")
                            div(class="pen__title")
                                | Color Zone
                            div(class="pen__text")
                                | Эффектная шариковая ручка Berlingo Color Zone с клипом является частью одноименной
                                | яркой серии. Прорезиненное покрытие корпуса и утолщение в зоне захвата ручки
                                | обеспечивают высокий уровень комфорта при ее использовании.

                    div(class="pen", data-slider="1", data-hidden="on")
                        a(href="#", class="pen__link")
                            img(alt="", src="images/0_content-modal-pens.png", class="pen__image")
                        div(class="pen__texts")
                            div(class="pen__title")
                                | Color Zone 2
                            div(class="pen__text")
                                | Эффектная шариковая ручка Berlingo Color Zone с клипом является частью одноименной
                                | яркой серии. Прорезиненное покрытие корпуса и утолщение в зоне захвата ручки
                                | обеспечивают высокий уровень комфорта при ее использовании.

                // result="3"

                div(class="title", data-result="3", data-hidden="on")
                    | Прагматик

                div(class="subtitle", data-result="3", data-hidden="on")
                    | Классическая простота - для людей, которые предпочитают практичность вещей и всегда страются
                    | держать фокус на важных задачах, не отвлекаясь на мелочи.

                div(class="pens", data-result="3", data-hidden="on")
                    a(href="#", class="pens__button", data-pens-toggler)
                        svg(width="16", height="32", viewBox="0 0 16 32", xmlns="http://www.w3.org/2000/svg")
                            path(d="M0.375854 31.6749L0.377468 31.6765C0.851276 32.1284 1.59387 32.1037 2.03862 31.6221L15.679 16.8468C16.1148 16.3743 16.1059 15.6337 15.658 15.1727L15.5894 15.1026L2.03862 0.379276C1.59387 -0.103996 0.850467 -0.128738 0.375853 0.32402L0.374238 0.324844C-0.102798 0.780077 -0.127013 1.54457 0.320158 2.03032L13.188 15.999L0.320967 29.9694C-0.126205 30.4551 -0.10199 31.2204 0.375854 31.6749Z", fill="currentColor")

                    div(class="pen", data-slider="0", data-hidden="off")
                        a(href="#", class="pen__link")
                            img(alt="", src="images/0_content-modal-pens.png", class="pen__image")
                        div(class="pen__texts")
                            div(class="pen__title")
                                | Color Zone
                            div(class="pen__text")
                                | Эффектная шариковая ручка Berlingo Color Zone с клипом является частью одноименной
                                | яркой серии. Прорезиненное покрытие корпуса и утолщение в зоне захвата ручки
                                | обеспечивают высокий уровень комфорта при ее использовании.

                    div(class="pen", data-slider="1", data-hidden="on")
                        a(href="#", class="pen__link")
                            img(alt="", src="images/0_content-modal-pens.png", class="pen__image")
                        div(class="pen__texts")
                            div(class="pen__title")
                                | Color Zone 2
                            div(class="pen__text")
                                | Эффектная шариковая ручка Berlingo Color Zone с клипом является частью одноименной
                                | яркой серии. Прорезиненное покрытие корпуса и утолщение в зоне захвата ручки
                                | обеспечивают высокий уровень комфорта при ее использовании.

                // result="4"

                div(class="title", data-result="4", data-hidden="on")
                    | Мечтатель

                div(class="subtitle", data-result="4", data-hidden="on")
                    | Ручки с необычными узорами для творческих и воздушных людей с горящими глазами, которых
                    | вдохновляет мир вокруг них.

                div(class="pens", data-result="4", data-hidden="on")
                    a(href="#", class="pens__button", data-pens-toggler)
                        svg(width="16", height="32", viewBox="0 0 16 32", xmlns="http://www.w3.org/2000/svg")
                            path(d="M0.375854 31.6749L0.377468 31.6765C0.851276 32.1284 1.59387 32.1037 2.03862 31.6221L15.679 16.8468C16.1148 16.3743 16.1059 15.6337 15.658 15.1727L15.5894 15.1026L2.03862 0.379276C1.59387 -0.103996 0.850467 -0.128738 0.375853 0.32402L0.374238 0.324844C-0.102798 0.780077 -0.127013 1.54457 0.320158 2.03032L13.188 15.999L0.320967 29.9694C-0.126205 30.4551 -0.10199 31.2204 0.375854 31.6749Z", fill="currentColor")

                    div(class="pen", data-slider="0", data-hidden="off")
                        a(href="#", class="pen__link")
                            img(alt="", src="images/0_content-modal-pens.png", class="pen__image")
                        div(class="pen__texts")
                            div(class="pen__title")
                                | Color Zone
                            div(class="pen__text")
                                | Эффектная шариковая ручка Berlingo Color Zone с клипом является частью одноименной
                                | яркой серии. Прорезиненное покрытие корпуса и утолщение в зоне захвата ручки
                                | обеспечивают высокий уровень комфорта при ее использовании.

                    div(class="pen", data-slider="1", data-hidden="on")
                        a(href="#", class="pen__link")
                            img(alt="", src="images/0_content-modal-pens.png", class="pen__image")
                        div(class="pen__texts")
                            div(class="pen__title")
                                | Color Zone 2
                            div(class="pen__text")
                                | Эффектная шариковая ручка Berlingo Color Zone с клипом является частью одноименной
                                | яркой серии. Прорезиненное покрытие корпуса и утолщение в зоне захвата ручки
                                | обеспечивают высокий уровень комфорта при ее использовании.

                //-

                div(class="text")
                    | Я подобрал для тебя ручки, которые подойдут именно тебе и подчеркнут твою индивидуальность лучше всех!

                div(class="buttons")
                    a(href="#", class="button button_shops", data-anchor="shops")
                        span
                            | Где купить?

                    a(href="#", class="button button_prizes", data-anchor="prizes")
                        span
                            | Выигать призы!