div(class="shadow")
    div(class="modal-wrapper")
        include modal-login
        include modal-register
        include modal-success

        include modal-receipt

        include modal-test-1
        include modal-test-2
        include modal-test-3
        include modal-test-4
        include modal-test-5
        include modal-test-6