extends ../layouts/landing

block title
    | Профиль | Berlingo

block wrapper
    include ../page/account/header
    include ../page/account/top
    include ../page/account/receipts
    include ../page/account/prizes
    include ../page/account/balls
    include ../page/account/my
    include ../page/account/marathon
    include ../page/account/bottom
    include ../page/account/footer
