extends ../layouts/landing

block title
    | Berlingo

block wrapper
    include ../page/index/header
    include ../page/index/top
    include ../page/index/stages
    include ../page/index/prizes
    include ../page/index/prize
    include ../page/index/shops
    include ../page/index/bottom
    include ../page/index/footer
