extends ../layouts/landing

block title
    | Победители | Berlingo

block wrapper
    include ../page/winners/header
    include ../page/winners/top
    include ../page/winners/tabs
    include ../page/winners/footer
