section(class="section pens-content")
    div(class="back pens-content__back")
        img(alt="", src="images/pens-content-back-lg.png", class="image-pens_lg")
        img(alt="", src="images/pens-content-back-md.png", class="image-pens_md")
        img(alt="", src="images/pens-content-back-sm.png", class="image-pens_sm")

    div(class="main-pens main_rel pens-content__main")

        //--------------------------------------------------------------------------------------------------------------

        div(class="the-quality-of-writing-0")
            span(class="text text_lg text_ffffff")
                span(class="text_79c942")
                    | Качество
                |
                | письма

        div(class="the-quality-of-writing-1")
            div(class="title")
                span(class="text text_md text_000000")
                    | Чернила ультрапониженной вязксти

            div
                span(class="text text_sm text_000000")
                    | Чернила вязкости 1000 сантипуаз обеспечивают потрясающее легкое
                    |
                    span(class="text_79c942")
                        | скользящее письмо
                    | , для которого достаточно веса самой ручки. Это позволяет дольше писать
                    | дольше и быстрее. Рука не устанет, а человек не упустит ничего важного

        div(class="the-quality-of-writing-2")
            div(class="title")
                span(class="text text_md text_000000")
                    | Инновационная конструкция пишущего узла

            div
                span(class="text text_sm text_000000")
                    span(class="text_79c942")
                        | Технология AFIT
                    |
                    | (англ.Anti-Fiber Intake Tip - пишущий узел, устойчивый к попаданию
                    | бумажных микро-волокон) позволяет испытывать весь запас чернил от начала и до конца
                    | даже на не самой качественной волокнистой бумаги, которая может забивать пишущий
                    | узел обычной ручки, что не позволяет использовать ее стержегь до конца

        div(class="the-quality-of-writing-3")
            div(class="title")
                span(class="text text_md text_000000")
                    | Лучшие материалы

            div
                span(class="text text_sm text_000000")
                    span(class="text_79c942")
                        | Карбид вольфрама
                    |
                    | (самый прочный коррозийно-устойчивый материал на
                    | данный момент. Он позволяет сохранять стабильное качество письма (без
                    | пробелов и клякс) от начала и до конца использования ручки.

        //--------------------------------------------------------------------------------------------------------------

        div(class="ergonomics-and-comfort-0")
            span(class="text text_lg text_ffffff")
                span(class="text_ed1b5c")
                    | Эргономика
                |
                | и комфорт

        div(class="ergonomics-and-comfort-1")
            div(class="title")
                span(class="text text_md text_000000")
                    | Трехгранный корпус

            div
                span(class="text text_sm text_000000")
                    span(class="text_ed1b5c")
                        | Трехгранная форма корпуса
                    |
                    | или зоны захвата считается наиболее эргономичной и удобной.
                    | Она позволяет кисти меньше уставать при письме, а значит делать меньше ошибок и не
                    | пропускать ничего важного

        div(class="ergonomics-and-comfort-2")
            div(class="title")
                span(class="text text_md text_000000")
                    | Soft Touch

            div
                span(class="text text_sm text_000000")
                    | Применение бархатистого
                    |
                    span(class="text_ed1b5c")
                        | Soft touch
                    |
                    | покрытия позволяет сделать ручки
                    | удобнее (не скользят в руке при песьме) и приятнее на ощупь

        div(class="ergonomics-and-comfort-3")
            div(class="title")
                span(class="text text_md text_000000")
                    | Двойное литье

            div
                span(class="text text_sm text_000000")
                    | Применение
                    |
                    span(class="text_ed1b5c")
                        | технологии двойного литья
                    |
                    | также делает ручки Berlingo значительно удобнее за счет
                    | более ровных стыков
                    | между разными видами/цветами материалов (стыки не стирают пальцы и не отвлекают внимание),
                    | а так же и гораздо
                    | долговечнее, так как элементы горадо прочнее соединены между собой и прослужат без потери
                    | свойств гораздо дольше чем при обычном соединении

        //--------------------------------------------------------------------------------------------------------------

        div(class="design-0")
            span(class="text text_lg text_29aae3")
                | Дизайн

        div(class="design-1")
            div(class="title")
                span(class="text text_md text_000000")
                    | Уникальные пресс-формы

            div
                span(class="text text_sm text_000000")
                    | Мы стремимся предложить клиентам
                    |
                    span(class="text_29aae3")
                        | уникальные, максимально удобные и
                        | привлекательные формы и дизайны ручек.
                    |
                    | Для этого мы разрабатываем собственное
                    | оборудование для производства (пресс-формы),
                    | а также уникальные цветовые и оформительские
                    | решения, которые привлекают внимание,
                    | позволяют покупателям максимально выразить
                    | свою личность, выделиться и просто сделать
                    | работу ярче, интереснее и разнообразние.

        //--------------------------------------------------------------------------------------------------------------

        div(class="additional-benefits-0")
            span(class="text text_lg text_f8931f")
                span(class="text_ffffff")
                    | Дополнительные
                |
                | преимущества

        div(class="additional-benefits-1")
            div(class="title")
                span(class="text text_md text_000000")
                    | Длина письма

            div
                span(class="text text_sm text_000000")
                    | В ассортименте Berlingo появляется все больше моделей ручек
                    | с увеличенной длиной письма, что позволяет использовать их
                    | до 6 раз дольше стандартных. Так, стандартная длина письма
                    | качественной шариковой ручки составляет 700-800 метров, а
                    | гелевой 400-500 метров.
                    |
                    span(class="text_f8931f")
                        | А в нашем ассортименте есть шариковые ручки с длиной письма 5 000 м. и гелевые - 1500 м.

        div(class="additional-benefits-2")
            div(class="title")
                span(class="text text_md text_000000")
                    | Светло-синие чернила

            div
                span(class="text text_sm text_000000")
                    | Особое внимание Berlingo уделяет начинающим писателям - детям
                    | дошкольного и младшего школьного
                    | возраста. Для них у нас есть сразу несколько идеальных моделей,
                    | сочетающих особые характеристики,
                    | помогающие осваивать столь сложный новый навык как письмо.
                    br
                    | Эти модели сочетают в себе использование
                    | специальных светло-синих чернил особо любимых учителями
                    | (они также легко читаются, но оставляют
                    |
                    span(class="text_f8931f")
                        | меньше клякс и грязи
                    |
                    | в тетради,чем классические синие чернила),
                    |
                    span(class="text_f8931f")
                        | специальные эргономичные зоны захвата
                    |
                    | (трехгранные, с мягким резиновым грипом и специальными
                    |
                    span(class="text_f8931f")
                        | выемками под пальцы для быстрой постановки правильного захвата и улучшения почерка
                    | , а так же приятный,
                    | но не отвлекающий от учебы дизайн.
